.search-btn {
  @apply relative rounded-full border-2 border-transparent opacity-90;
  background: var(--rainbow);
  background-size: 200% 200%;
  animation: rainbowFlow 6s ease-in-out infinite;

  &::before {
    content: "";
    @apply rounded-full absolute inset-0 top-0 left-0 blur-sm opacity-40 -z-10;
    background: var(--rainbow);
    background-size: 200% 200%;
    animation: rainbowFlow 6s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
  }

  .content {
    @apply flex items-center gap-2 bg-white p-3 text-gray-400 rounded-full !w-full;
  }

  svg {
    @apply text-primary-900;
  }

  .typewriter-text {
    position: relative;

    .cursor {
      animation: blink 1s infinite ease-in-out;
    }
  }

  &:hover {
    animation-duration: 3s;

    &::before {
      @apply blur-md opacity-60;
      animation-duration: 3s;
    }
  }
}

@keyframes rainbowFlow {
  0% {
    background-position: 50% 0%;
  }
  12.5% {
    background-position: 85% 15%;
  }
  25% {
    background-position: 100% 50%;
  }
  37.5% {
    background-position: 85% 85%;
  }
  50% {
    background-position: 50% 100%;
  }
  62.5% {
    background-position: 15% 85%;
  }
  75% {
    background-position: 0% 50%;
  }
  87.5% {
    background-position: 15% 15%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
