.city-card {
  @apply rounded-lg flex flex-col items-center gap-2;

  &.is-card {
    @apply bg-primary-600 shadow-lg p-4;

    .city-img {
      box-shadow: -4px 5px 10px 2px var(--primary-600);
    }

    .title {
      @apply text-white;
    }

    .city-img {
      @apply border-2 border-white;
    }
  }

  .title {
    @apply text-primary-600 text-2xl font-extrabold -tracking-[0.1em];
  }

  .city-img {
    @apply border-2 border-primary-600 rounded-lg object-cover h-10 w-10 rotate-6;
  }

  svg {
    @apply text-secondary-400;
  }
}
