.text-image-card {
  @apply rounded-lg flex flex-col items-center gap-2;

  &.is-card {
    @apply bg-primary-600 shadow-sm p-4;

    .city-img {
      box-shadow: -4px 5px 10px 2px var(--primary-600);
    }

    .title {
      @apply text-white text-center;
      line-height: 1;
    }

    img {
      @apply border-2 border-white;
    }

    &.skeleton-bg {
      @apply bg-gray-200;

      .city-img {
        box-shadow: none;
        @apply bg-gray-300;
      }

      .title {
        @apply bg-gray-300;
      }
    }
  }

  .title {
    @apply text-primary-600 text-2xl font-extrabold -tracking-[0.1em];
  }

  img {
    @apply border-2 border-primary-600 rounded-lg object-cover h-10 w-10 rotate-6;
  }

  svg {
    @apply text-secondary-400;
  }
}
