.event-card-line {
  @apply flex w-full bg-white rounded-[var(--vv-border-radius)] overflow-hidden items-center p-[6px] cursor-pointer gap-2 justify-center;

  .card-image {
    width: 80px;
    height: 50px;
    min-width: 80px;
    min-height: 50px;
    max-width: 80px;
    max-height: 50px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-image img,
  .card-image .next-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .card-content {
    @apply flex flex-col w-2/3 justify-between text-primary-950 text-base;
    line-height: 1.4;

    .card-title {
      @apply font-bold text-ellipsis overflow-hidden whitespace-nowrap text-primary-600;
    }

    .card-specs {
      @apply flex gap-2 text-xs text-ellipsis overflow-hidden whitespace-nowrap flex-grow w-full;

      li {
        @apply flex items-center gap-1;

        &:not(:last-child)::after {
          content: "•";
          @apply mx-1;
        }
      }
    }
  }

  svg {
    @apply w-6 h-6 text-primary-600 mr-2 hidden sm:block;
  }
}
