@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Syne";
    src: url("../assets/font/Syne/Syne-VariableFont_wght.ttf");
  }

  :root {
    --background: #f7f7f7;
    --background-rgb: 247, 247, 247;
    --primary-blue: #3b32ff;
    --primary-blue-rgb: 59, 50, 255;
    --secondary-blue: #171291;
    --third-blue: #1e1a78;
    --primary-green: #20ff00;
    --secondary-green: #15a500;
    --light-gray: #d9d9d9;
    --dark-gray: #818181;
  }

  /*****************/
  /* Common styles */
  /*****************/

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-[var(--background)] font-[Syne] font-normal text-sm antialiased;
  }

  header {
    @apply top-0 fixed px-6 w-full bg-[rgba(var(--background-rgb),0.75)] backdrop-blur-md z-30;
  }

  main {
    @apply mt-16 px-6 top-0 flex flex-col relative;
  }

  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* IE et Edge */
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /**********/
  /* Titles */
  /**********/

  h2 {
    @apply text-xl font-bold text-[var(--primary-blue)];
  }

  /*********/
  /* Icons */
  /*********/

  .icon {
    @apply h-6 w-6 shrink-0;
  }

  .icon-small {
    @apply h-4 w-4 shrink-0;
  }

  /****************/
  /* Veevent logo */
  /****************/

  .logo {
    @apply text-[var(--secondary-blue)] text-2xl font-extrabold -tracking-[0.1em] w-fit;
  }

  .logo span {
    @apply text-[var(--primary-blue)];
  }
}

@layer components {
  /*********/
  /* Cards */
  /*********/

  .theme-card {
    @apply flex flex-col justify-center items-center gap-2 bg-[var(--primary-blue)] h-28 w-28 rounded-lg text-[var(--primary-green)] font-bold;
  }

  .theme-card svg,
  .event-card svg {
    @apply h-6 w-6 shrink-0;
  }

  .event-card {
    @apply flex flex-col bg-white shadow-md border-2 border-[var(--secondary-blue)] rounded-lg;
  }

  .event-card svg {
    @apply text-[var(--primary-blue)];
  }

  .event-card .tag {
    @apply flex items-center gap-1 text-sm font-medium;
  }

  .event-card .tag svg {
    @apply h-4 w-4 text-[var(--primary-blue)];
  }

  .event-card .title {
    @apply text-lg text-[var(--third-blue)] font-bold;
  }

  .event-card .description {
    @apply text-[var(--primary-blue)] text-sm;
  }

  .event-card .description span {
    @apply font-bold text-lg;
  }
}
