.banner-img {
  @apply relative;

  .gradient {
    @apply inset-0 absolute opacity-50 bg-gradient-to-r from-primary-600 via-transparent to-primary-600;
  }

  .content {
    @apply absolute bottom-0 w-full;

    .city {
      @apply text-background font-extrabold absolute bottom-0 left-0 leading-[0.6] w-full px-4;
      font-size: clamp(2rem, 12vw, 6rem);
      text-align: left;
      word-break: keep-all;
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }
}
