header {
  @apply top-0 fixed pt-4 py-6 px-2 w-full z-30 grid grid-cols-2 text-base;
  background: linear-gradient(
    180deg,
    #f7f7f7 79.53%,
    rgba(247, 247, 247, 0) 100%
  );

  &.is-hide {
    @apply grid-cols-3;

    .middle-column {
      @apply flex items-center justify-center;
    }
  }

  .left-column {
    @apply flex items-center justify-start;

    .back-button {
      @apply flex items-center text-primary-600;
    }
  }

  .middle-column {
    display: none;
  }

  .right-column {
    @apply flex items-center justify-end;
  }

  .city-selector {
    @apply flex text-base font-bold items-center text-primary-600 gap-1 cursor-pointer  px-4 py-2 rounded-xl;
    background: none;
    transition: background-color 0.2s;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    span {
      @apply flex items-center;
    }
  }
}
